body {
  background-color: rgba(174, 119, 226, 0.858);
}

header {
  padding: 20px;
  background-color: rgb(140, 133, 140);
}

/* belirli sınıfta ki elemanlar */
.top-li {
  color: rgb(77, 211, 50);
}

/* belirli id'de ki elemanıçağırmak şçşn  >> aynı id'ye sahip her zaman 1 eleman olabilir. */
#li-1 {
  color: rgb(171, 6, 34);
}

#li-2 {
  color: blue;
}

form {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 60px;
  /* 
  border > çevre
  kalınlık
  türü
  renk
  
  */
  border: 3px solid red;
  border: 3px dotted red;
  border: 3px dashed red;
  border: 10px ridge red;
  border: 10px groove red;
  border: 10px double red;
  border: 10px inset red;
  border: 10px outset red;
}
form input {
  margin-bottom: 10px;
}

#termss {
  /* üst köşe */
  border-top: 10px solid green;

  /* alt köşe */
  border-bottom: 5px dashed pink;

  /* sağ köşe */
  border-right: 7px dotted blue;

  /* sol köşe */
  border-left: 7px solid brown;
}
